autopep8
cachelib
cachetools
certifi
charset-normalizer
click
colorama
et-xmlfile
Flask
Flask-Cors
Flask-Session
Flask-SQLAlchemy
google-auth
google-auth-oauthlib
greenlet
gspread
httplib2
idna
imagekitio
importlib-metadata
itsdangerous
Jinja2
MarkupSafe
numpy
oauth2client
oauthlib
pandas
psycopg2
pyasn1
pyasn1-modules
pycodestyle
pyparsing
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
rsa
six
SQLAlchemy
toml
urllib3
Werkzeug
zipp